* {
  text-align: center;
}

body {
  background: linear-gradient(
    to right,
    red 14.2857142857%,
    orange 28.5714285714%,
    yellow 42.8571428571%,
    blue 57.1428571428%,
    green 71.4285714285%,
    indigo 85.7142857142%,
    violet 100%
  );
}

h1 {
  color: lime;
  background-color: black;
}

#tables {
  color: #FF0000;
  background-color: #02D9FA;
}

#tables h2 {
  color: orange;
}

#tables table {
  margin: 0 auto;
  border: 1px solid orange;
  background-color: white;
}

table, thead, tfoot, tbody, th, tr, td {
  border: 1px solid orange;
  padding: 5px;
}

tr, th, td {
  margin: 0 auto;
}

.code {
  font-family: monospace;
  background-color: green;
}
