.h1_header {
    background-image: url(../Images/pattern.jpeg);
}

#h1_header {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#hacksaw_brushes {
    background-color: mediumspringgreen;
}

#price {
    font-family: Helvetica;
    font-weight: bold;
    color: blue
}

#art_frames {
    background-color: lightcoral;
}

#finnish_paint {
    background-color: skyblue;
}